body{
  margin: 0;
  background-color: aqua;
}
.MainDiv{
    background-color: #12343b;
    width: 700px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 3px 6px 40px #000;
    
}
.Task_Name{
  background-color:red;
}